<h5>Comments for post <%= @post.title %></h5>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.content %>   <%= comment.user.name %></li>
  <% end %>
</ul>
<br>
<% if logged_in? %>
	<%= link_to "Create new comment", new_post_comment_path(@post.id) %>
<% end %>
<br>
<%= link_to "Back to post summary page", post_path(@post.id) %>