<h5>Create a new comment</h5>
<% if logged_in? %>
  <%= form_tag post_comments_path do %>
    <%= label_tag :content %>
    <%= text_area_tag :content %>
    <br>
    <%= submit_tag "Create it!" %>
  <% end %>
  <br>
<% end %>

<div class="btn">
	<%= link_to "Back to post summary page", post_path(params[:post_id]) %>
</div>