<div class="well well-large">
  <h3>Welcome to RK PostIt application!</h3>
</div>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>User</th>
    <th>Net votes</th>
    <% if logged_in? %>
      <th>Edit</th>
      <th>Like</th>
      <th>Un-like</th>
    <% end %>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post_path(post.id) %></td>
    <td><%= post.url %></td>
    <td><%= post.user.name %></td>
    <td><span id="post_<%=post.id%>_votes"><%= post.total_votes %></span></td>
    <% if logged_in? %>
      <td><%= link_to "→", edit_post_path(post.id) %></td>
      <td><%= link_to '<i class="icon-chevron-up"></i>'.html_safe, vote_post_path(post.id, vote: true), method: 'post', remote: true %></td>
      <td><%= link_to '<i class="icon-chevron-down"></i>'.html_safe, vote_post_path(post.id, vote: false), method: 'post', remote: true %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<br>

<% if logged_in? %>
  <div class="btn">
    <%= link_to "Create new post", new_post_path %>
  </div>
<% end %>