<h5>Showing <%= @post.title %> </h5>

<strong>Title:</strong>
<%= @post.title %>
<br>
<strong>Url:</strong>
<%= @post.url %>
<br>
<strong>Description:</strong>
<%= @post.url %>
<br>
<strong>User name:</strong>
<%= @post.user.name %>
<br><br>
<%= link_to "Edit post", edit_post_path(@post.id) %>
<br>
<%= link_to "Show comments", post_comments_path(@post.id) %>
<br>
<%= link_to "Back to main posts page", posts_path %>